.optimizer__paragraph_second {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.32px;
  color: #241C15;
  margin: 55px 0 180px 64px;
}
